*.log
*.temp
.vs/
out/
.bin/
abbrev/
asar/
balanced-match/
binary/
brace-expansion/
chromium-pickle-js/
fs.realpath/
inflight/
minimatch/
mkpath/
mksnapshot/
once/
os-tmpdir/
path-is-absolute/
rimraf/
tmp/
touch/
traverse/
wrappy/
@.*
chainswa/
examples/
commander/
cuint/
decompress-zip/
*.zip/
nopt/
glob/
klaw/
q/
test/
concat-map/
chainsaw/
buffers/