<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JpFramework.Properties.Settings.ConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JpFramework.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    
    <add key="ElectronAppPath" value="electron ./AppView/"/>
    <!--<add key="ElectronAppPath" value="|DataDirectory|\ELectronApp\jpframework-win32-x64\jpframework.exe"/>-->
    <!--socket-->
    <add key="port" value="9909"/>
    <!--socket-->
    <add key="httpPort" value="9910"/>
    <add key="addr" value="127.0.0.1"/>
    <add  key="Connection" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JpFramework.mdf;Integrated Security=True;Connect Timeout=30"/>
  </appSettings>
</configuration>
